/*
 *********************************************
 *            ## Root Variables ##           *
 *********************************************
 * Here, global variables for colors, fonts, *
 * sizes, etc. are defined.                  *
*/

:root {
  /* COLORS */
  --yellow: #f4d04e;
  --white: #fff;

  --gray-950: #111111;
  --gray-500: #6b6b6b;

  /* SPACING */
  --spacing-200: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  /* LINE HEIGHT */
  --line-height-normal: 1.5; /* 150% */
}

/*
  ********************************************
  *           ## Global Styles ##            *
  ********************************************
  * General styles and global utilities,     *
  * such as resets or normalization.         *
*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--gray-950);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*
  ********************************************
  *           # Utility Classes #            *
  ********************************************
*/

.text-preset-1 {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 1.5;
  line-height: var(--line-height-normal);
}
.text-preset-2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: var(--line-height-normal);
}
.text-preset-3 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: var(--line-height-normal);
}
.text-preset-3-bold {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: var(--line-height-normal);
}

.letter-spacing-reset {
  letter-spacing: 0px;
}

/* 
  ********************************************
  *         ## Blog Preview Card ##          *
  ********************************************
*/

.blog-card {
  background-color: var(--white);
  max-width: 32.7rem;
  margin-bottom: 1.5rem;
  padding: var(--spacing-200, 2.4rem);
  border: 1px solid var(--gray-950);
  border-radius: 2rem;
  box-shadow: 8px 8px 0px 0px #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200, 24px);
}
@media (min-width: 768px) {
  .blog-card {
    max-width: 38.4rem;
    min-height: 52.2rem;
  }
}

.blog-card img {
  height: 20rem;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.blog-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-150, 1.2rem);
  align-self: stretch;
}
.blog-card__category {
  background: var(--color-yellow, #f4d04e);
  border-radius: var(--spacing-50, 4px);
  padding: var(--spacing-50, 4px) var(--spacing-150, 12px);
}
.blog-card__date {
  color: var(--gray-950, #111);
}
.blog-card__link {
  color: var(--color-gray-950, #111);
}
.blog-card__link:hover,
.blog-card__link:focus-visible {
  color: var(--yellow, #f4d04e);
}
.blog-card__description {
  color: var(--color-gray-500, #6b6b6b);
}
.blog-card__author {
  display: flex;
  align-items: center;
  gap: var(--spacing-100, 8px);
}
.blog-card__author::before {
  content: "";
  width: 3.2rem;
  height: 3.2rem;
  background-image: url("/assets/images/image-avatar.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
