/*
 *********************************************
 *            ## Root Variables ##           *
 *********************************************
 * Here, global variables for colors, fonts, *
 * sizes, etc. are defined.                  *
*/

:root {
  /* COLORS */
  --yellow: #f4d04e;
  --white: #fff;

  --gray-950: #111111;
  --gray-500: #6b6b6b;

  /* SPACING */
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  /* LINE HEIGHT */
  --line-height-normal: 1.5; /* 150% */
}

/*
  ********************************************
  *           ## Global Styles ##            *
  ********************************************
  * General styles and global utilities,     *
  * such as resets or normalization.         *
*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Figtree", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*
  ********************************************
  *           # Utility Classes #            *
  ********************************************
*/

.text-preset-1 {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 1.5;
  line-height: var(--line-height-normal);
}
.text-preset-2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: var(--line-height-normal);
}
.text-preset-3 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: var(--line-height-normal);
}
.text-preset-3-bold {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: var(--line-height-normal);
}

.letter-spacing-reset {
  letter-spacing: 0px;
}

/* 
  ********************************************
  *         ## Blog Preview Card ##          *
  ********************************************
*/
